body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	background: #F7F7F7;
	color: #18172A;
}
@media (min-width: 1440px) {
	.container {
		max-width: 1410px;
	}	
} 
a {
	text-decoration: none;
	color: #18172A;
	outline: none;
	box-shadow: none;
}
a:hover, a:focus {
	color: #4BAC52;
	text-decoration: none;
	outline: none;
	box-shadow: none;
}
li {
	position: relative; 
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	box-shadow: none;
}
button:hover, button:focus, button.active {
	outline: none;
	box-shadow: none;
}

/*=== theme-title ===*/
.page-header {
	margin: 0 auto;
	border-bottom: none;
	background-color: #F7F7F7;
	background-position: left;
	background-image: url("../img/landing.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 130px 130px 350px;
}
@media (max-width: 991px) {
	.page-header {
		padding: 100px 30px;
	}
}
.page-header .theme-title .logo a {
	font-size: 80px;
	color: #ffffff;
	font-weight: 700;
	margin: 0px 0px 30px;
	display: block;
}
.page-header .theme-title h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #ffffff;
	margin: 0px 0px 30px;
}
.page-header .theme-title ul {
	display: block;
	margin: 0px 0px 35px;
	padding: 0px 20px;
}
.page-header .theme-title li {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 400;
	list-style: disc;              
}
.buy-theme {
	background: #4BAC52;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
	-o-border-radius: 20px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.buy-theme:hover {
	color: #ffffff;
	background: #EE3E2A;
	text-decoration: none;
}

/*===  HomePage Style ===*/
.home-version {
	background: #F7F7F7;
	margin: 0px auto;
	text-align: center;
	padding: 80px 170px 70px;
}
@media (max-width: 991px) {
	.home-version {
		padding: 80px 50px 70px;
	}
}
.home-version h2 {
	font-weight: 400;
	font-size: 24px;
	color: #18172A;
	margin: 0px 0px 50px;
}
.home-version .block-content { 
	position: relative;
	display: block;
	margin: 0px 0px 30px;
}
.home-version .block-content h6 {
	font-size: 14px;
	font-weight: 400;
	margin: 30px 0px 0px;
}
.home-version .block-content h6 a {
	color: #1D222B;
	/* border: 1px solid #1D222B; */
	padding: 10px 25px;
	display: inline-block;
	border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.home-version .block-content .image {
	position: relative;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .image:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .browser-window {
	position: relative;
}
.home-version .block-content .browser-window .label-new {
	position: absolute;
	top: -15px;
	right: -15px;
	background: #EE3E2A;
	color: #ffffff;
	width: 45px;
	height: 45px;
	z-index: 9;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.home-version .block-content .btn-demo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 9;
	background: #4BAC52;
	color: #ffffff;
	font-size: 14px;
	padding: 10px 15px;
	border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
	-o-border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -0%);
	-webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
	-o-transform: translate(-50%, -0%);
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.home-version .block-content .btn-demo:hover {
	background: #EE3E2A;
	color: #ffffff;
}
/* .home-version .block-content h6 a:hover {
	color: #ffffff; 
	border: 1px solid #4BAC52;
	background: #4BAC52;
} */
.home-version .block-content:hover .image {
	box-shadow: 0px 1px 10px rgba(7, 7, 7, 0.52);
}
.home-version .block-content:hover .image:before {
	opacity: 1;
	visibility: visible;
}
.home-version .block-content:hover .btn-demo {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.home-version .block-content img {
	width: 100%;
} 
.theme-features img {
	width: 100%;  
} 
.collection-page img {
	width: 100%;
}
.store-locator img {
	width: 100%; 
}
/*=== product-layout ===*/
.product-layout {
	text-align: center;
	margin: 0px auto;
}
.product-layout h5 {
	font-size: 32px;
	font-weight: 700;
	margin: 0px 0px 20px;
}
.product-layout p {
	font-family: 'Poppins', sans-serif;;
	font-size: 24px;
	color: #1D222B;
	margin: 0px 0px 30px;
}

/*=== other-features - supports ===*/
.other-features {
	padding: 80px 0px 50px;
	text-align: center;
}
.other-features .feature-title {
	position: relative;
}
.other-features .feature-title h3 {
	font-weight: 700;
	font-size: 32px;
	margin: 0px 0px 30px;
}
.other-features .block-content {
	position: relative;
	padding: 30px 20px;
	margin: 0px 0px 30px;
	box-shadow: 0px 2px 10px rgba(163, 163, 163, 0.52);
	min-height: 250px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.other-features .block-content:hover {
	box-shadow: 0px 2px 12px rgba(50, 50, 50, 0.52);
}
.other-features .image {
	max-width: 45px;
	margin: 30px auto 50px;
	transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}
.other-features h6 {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 15px;
}
.other-features .much-more {
	font-size: 18px;
	font-weight: 700;
	padding-top: 15px;
}

/*=== footer-info ===*/
.footer-info {
	background: #242424;
	padding: 100px 0px;
	text-align: center;
	color: #ffffff;
}
@media (max-width: 767px) {
	.footer-info {
		padding: 30px 0px;
	}
}
.footer-info .footer-content {
	max-width: 500px;
	margin: 0px auto;
}
.footer-info  h5 {
	font-size: 24px;
	font-weight: 500;
	margin: 0px 0px 20px;
}
.footer-text {
	font-size: 14px;
	margin: 0px 0px 30px;	
}
.footer-text span {
	display: block;
}
.footer-info .buy-theme {
	font-size: 18px;
	padding: 10px 25px;
	display: inline-block;
}